# Task 1

1. Load the 5 csv files **Facebook, Apple, Amazon, Netflix and Google**

2. Add a new column called *ticker* to each dataframe

3. Append all dataframes into a single dataframe and store data as csv in a file called **faang**

# Setup

In [ ]:
import numpy as np
import pandas as pd

Read in the files, add column and concatenate.

In [ ]:
faang = pd.DataFrame()

file_list = ['fb', 'aapl', 'amzn', 'nflx', 'goog']
for f in file_list:
    df = pd.read_csv('../ch_03/exercises/' + f + '.csv')
    df.insert(0, 'ticker', f.upper())
    faang = pd.concat([faang, df])
faang.head()

Save to *faang.csv* in my_exercises directory

In [ ]:
faang.to_csv('faang.csv')

# Task 2

1. Cast values in date column to datetime and volume column into itegers

2. Sort by date and ticker

Cast *date* and *volume* columns

In [ ]:
faang.loc[:,'date'] = pd.to_datetime(faang.date)
faang['volume'] = faang['volume'].astype(int)
faang.dtypes

Sort by *date* and *ticker*

In [ ]:
faang.sort_values(['ticker', 'date'], inplace = True)
faang.head()

# Task 3

Find the 7 rows with the lowest value for *volume*

Use DataFrame method *nsmallest*

In [ ]:
faang.nsmallest(7, 'volume')

# Task 4

Use *melt()* to convert data to completely *long format*

In [ ]:
melted_faang = faang.melt(id_vars = ['ticker', 'date'], value_vars=['open', 'high', 'low', 'close', 'volume'])
melted_faang.to_csv('melted_faang.csv')

# Task 6

Read in data from *covid19_cases.csv* file then clean and pivot the data so that it is in wide format

Read in the file and convert *dateRep* to datetime in a new column *date*

In [ ]:
covid19 = pd.read_csv('../ch_03/exercises/covid19_cases.csv').assign(
    date = lambda x: pd.to_datetime(x.dateRep, format='%d/%m/%Y')
)
covid19.drop(columns='dateRep', inplace=True)
covid19.head()

Set the date column as the index and sort the index

In [ ]:
covid19.set_index('date', inplace=True)
covid19.head()

Replace *United_States_of_America* and *United Kingdom* with *USA* and *UK*

In [ ]:
covid19_clean = covid19.replace(['United_States_of_America', 'United_Kingdom'],['USA', 'UK'])

Create a data subset with the following countries: Argentina, Brazil, China, Columbia, India, Italy, Mexico, Peru, Russia, Spain, Turkey, UK, USA

In [ ]:

countries = ['Argentina', 'Brazil', 'China', 'Columbia', 'India', 'Italy', 'Mexico', 'Peru', 'Russia', 'Spain', 'Turkey', 'UK', 'USA']
covid19_subset = covid19_clean.apply(lambda row: row[covid19_clean['countriesAndTerritories'].isin(countries)])

Reset the index so that we can use dates as index

Pivot the new data subset with dates as index and columns contain country names and case counts.

NaN values should be updated with 0

In [ ]:
covid19_subset.reset_index(inplace=True)
covid19_subset.pivot(index = 'date', columns = 'countriesAndTerritories', values = 'cases').fillna(0)

# Task 7

Read in the data from *covid19_total_cases.csv* which contains the total cases per country

Pass in *index_col='index'* and transpose dataframe for ease of finding top 20 countries

In [ ]:
covid19_total = pd.read_csv('../ch_03/exercises/covid19_total_cases.csv', index_col='index').T
covid19_total.head()

Get list of top 20 countries with the largest covid case totals

In [179]:
covid19_total.nlargest(20,'cases')

index           cases
USA           6724667
India         5308014
Brazil        4495183
Russia        1091186
Peru           756412
Colombia       750471
Mexico         688954
South_Africa   657627
Spain          640040
Argentina      601700
Chile          442827
France         428696
Iran           416198
UK             385936
Bangladesh     345805
Saudi_Arabia   328720
Iraq           311690
Pakistan       305031
Turkey         299810
Italy          294932